<!doctype html>

<head>
    <meta charset="utf-8">
    <link rel = "stylesheet" href="index.css">
</head>
<style>
        .m {
        color: blue;
    }
    tr:nth-child(even){
        background-color: aqua;
    }
</style>
<body>
    <p class = "m"> Hello World</p>

    {% for image in images %}
    <img src = "{{ url_for('static', filename='london.jpg') }}" alt="Image">
    {% endfor %}

    style ="height:12cm; width: 20cm;"></img>

<h2> rayane TABLE</h2>
    <table>
        <tr>
            <th> rayane</th>
            <th> AAAA</th>
            <th>BBBB</th>
            <th>CCCC</th>
        </tr>
        <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
        </tr>

    </table>
</body>